@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinner for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}